@model IEnumerable<_140123_Homework.Models.Employee>
   @* @model Employee*@

@{
    ViewData["Title"] = "Index";
}

<h1>Employee List</h1>


    <a class="btn btn-primary" asp-action="Create">Çalışan Ekle</a>
    

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TitleOfCourtesy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
            <th></th>
        

          

           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                 <td>
                @Html.DisplayFor(modelItem => item.TitleOfCourtesy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
       
           
            <td>
                @Html.DisplayFor(modelItem => item.ReportsToNavigation.Orders)
            </td>
            <td>
                
                    @*<a asp-action="Orders" asp-route-id="@item.EmployeeId">Order</a> |*@
                    @Html.ActionLink( "Orders", "Orders", new { EmployeeId = item.EmployeeId } )
                    @Html.ActionLink( "Territory", "Territory", new { EmployeeId = item.EmployeeId } )
          
            </td>

        </tr>
}
    </tbody>
</table>
